<!DOCTYPE html>
<html>

<head>
    <title>
        Image Upload Portal
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1>Authentication</h1>
            <form class="form" method="post" id="login-form">
                <input id="pass" name="password" type="password" placeholder="Password">
                <button type="submit" id="login-button">Login</button>
                {% if error == True %}
                    <h2> Wrong Password </h2>
                {% endif %}
            </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
<script>
     $("#login-button").click(function(event){
		//  event.preventDefault();
	 $('form').fadeOut(500);
	 $('.wrapper').addClass('form-success');
});
</script>
</html>